@model TurtleLibrary.Models.Turtle

<tr>
    <td>
        @Html.DisplayFor(x => x.Name)
    </td>
    <td>
        @Html.DisplayFor(x => x.OriginalPortrait)
    </td>
    <td>
        @Html.DisplayFor(x => x.Portrait)
    </td>
    <td>
        @Html.DisplayFor(x => x.CheckedOutBy)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    </td>
</tr>
