@model IEnumerable<TurtleLibrary.Models.Turtle>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginalPortrait)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Portrait)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckedOutBy)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) @Html.DisplayForModel(item)
    </tbody>
</table>
