@model IEnumerable<TurtleLibrary.Models.Turtle>

@{
    ViewData["Title"] = "Browse";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Portrait)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Availability
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(_ => item.Portrait)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.Name)
                </td>
                <td>
                    @(item.CheckedOutBy != null ? "Checked Out" : "Available")
                </td>
            </tr>
        }
    </tbody>
</table>
